body {
    margin: 0;
    padding: 0;
    background-color: #000000;
    color: white;
    
}

a{
    color:white;
}

.topnav {
    overflow: hidden;
    background-color: transparent;
}

.topnav a {
    float: right;
    display: block;
    text-align: center;
    padding: 20px 40px;
    color: white;
    text-decoration: none;
    font: normal normal normal 30px/48px Helvetica;
}

.topnav .logo {
    float: left;
}

.topnav a:hover {
    color: #FF9898;
}

.topnav .icon {
    display: none;
}

ul a {
    text-decoration:none;
    display: inline-block;
    margin-right: 10px;
    font: normal normal normal 15px/0px Helvetica;
}
.active{
    color:#FE9898;
}
.homeMid {
    position: absolute;
    width: 632px;
    height: 337px;
    top: 50%;
    left: 50%;
    margin-left: -316px;
    margin-top: -168.5px
}

.homeMid h1 {
    position: relative;
    text-align: center;
    font: normal normal bold 100px/30px Cochin;
    opacity: 1;
    margin-top: 100px;
}

.homeMid h3 {
    position: relative;
    text-align: center;
    font: normal normal normal 30px/0px Helvetica;
    font-family: Helvetica;
    color: #FFFFFF9F;
    opacity: 1;
    margin-bottom: 70px;
}

.leeruitkomstBtn,
.overMijBtn {
    position: relative;
    width: 250px;
    height: 70px;
    padding: 10px 40px 10px 40px;
    border-radius: 15px;
    font: normal normal normal 25px/48px Helvetica;
    text-align: center;
}

.leeruitkomstBtn {
    background: #FF9898 0% 0% no-repeat padding-box;
    float: left;
    border: none;
}

.leeruitkomstBtn:hover {
    background: transparent 0% 0% no-repeat padding-box;
    border: 2px solid #FE9898;
    color: #FFFFFF;
}

.overMijBtn {
    float: right;
    background: transparent 0% 0% no-repeat padding-box;
    border: 2px solid #FE9898;
    color: #FFFFFF;
}

.overMijBtn:hover {
    background: #FF9898 0% 0% no-repeat padding-box;
    color: #000;
}

.grid-container {
    display: grid;
    grid-template-columns: 400px 500px;
    grid-template-rows: 600px;
    padding: 50px 50px 50px 100px;
    grid-gap: 0px 120px;
    align-content: center;
}

.mijFoto {
    width: 400px;
    height: 600px;
    background: url('img/IMG_1769\ 2.jpg') center center;
    background-size: cover;
    border-radius: 23px;
    opacity: 1;
}

.overMij p {
    text-align: left;
    font: normal normal normal 20px/30px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    float: left;
}

.overMij h2 {
    margin-top: 100px;
    font: normal normal bold 50px/70px Cochin;
    color: #FFFFFF;
    float: left;
}

h2{
    font: normal normal bold 60px/50px Cochin;
    color: #ffffff;
    text-align: center;
}
 h2 i{
    margin-right:20px ;
}
.grid-container-1 {
    display: grid;
    grid-template-columns: 350px 350px 350px;
    grid-template-rows: 180px 180px;
    height: 450px;
    padding: 10px;
    justify-content: space-evenly;
    align-content: space-evenly;
  }

  .grid-item{
    box-shadow: 0px 2px 4px #FFFFFF9A;
    border-radius: 18px;
  }

  .grid-item a button{
      width: 100%;
      height: 100%;
      text-align: center;
      border-radius: 18px;
      font: normal normal normal 25px/48px Helvetica;
      color: black;
      border: none;
  }

  .grid-item a button i{
      font-size: 40px;
  }

  .item1-1{
    background: #FFEC9A 0% 0% no-repeat padding-box;
  }

  .item1-2{
    background: #E1B1FF 0% 0% no-repeat padding-box;
  }

  .item1-3{
    background: #FFBEEE 0% 0% no-repeat padding-box;
  }

  .item1-4{
    background: #C6FFD5 0% 0% no-repeat padding-box;
  }

  .item1-5{
    background: #FFC4C4 0% 0% no-repeat padding-box;
  }

  .item1-6{
    background: #A3C0FF 0% 0% no-repeat padding-box;
  }

  .grid-container-2{
      display: grid;
      grid-template-columns: 600px 600px;
    grid-template-rows: 350px 350px 350px;
    padding: 10px 100px 50px 100px;
    grid-gap:50px 80px;
    justify-content: center;
  }

  .grid-container-2 div{
      border-radius: 18px;
  }

  .item2-1{
    background:url('img/MoviePosterH.jpg') center center;
    background-size: cover;
    box-shadow: 0px 2px 4px #FFFFFF9A;
  }

  .item2-2{
    background:url('img/filterEffect.png') center center;
    background-size: cover;
    box-shadow: 0px 2px 4px #FFFFFF9A;
  }

  .item2-3{
    background:url('img/portfolioH.png') center center;
    background-size: cover;
    box-shadow: 0px 2px 4px #FFFFFF9A;
  }

  .item3-1{
    background:url('img/portfolioUx.png') center center;
    background-size: cover;
    box-shadow: 0px 2px 4px #FFFFFF9A;
  }

  .item3-2{
    background:url('img/') center center;
    background-size: cover;
    box-shadow: 0px 2px 4px #FFFFFF9A;
  }

  .item3-3{
    background:url('img/') center center;
    background-size: cover;
    box-shadow: 0px 2px 4px #FFFFFF9A;
  }

  h3{
    text-align: left;
    font: normal normal bold 38px/40px cochin;
  }

  p{
    text-align: left;
    font: normal normal normal 20px/40px Helvetica;
  }

  .item2-btn{
    width: 230px;
    height: 65px;
    border: none;
    background: #FE9898 0% 0% no-repeat padding-box;
    border-radius: 10px; 
    font: normal normal normal 20px/30px Helvetica;
    text-align: center;
    margin-top: 20px;
  }

  footer{
     width: 100%;
     height: 10%;
     border-top: 2px white;
    
     text-align: center;
  }

  footer ul{
    padding: 20px 40px 20px 40px;

  }

  footer ul a{
    display: inline-block;
    font: normal normal normal 20px/36px Helvetica;
    margin: 0px 30px 0px 30px;
  }

@media screen and (max-width:1350px) {
    .grid-container-2{
        display: grid;
        grid-template-columns: 550px 550px;
      grid-template-rows: 300px 300px 300px;
      padding: 10px 100px 50px 100px;
      grid-gap:50px 80px;
      justify-content: center;
    }

    .grid-container-2 div{
        border-radius: 15px;
    }

    h3{
        font: normal normal bold 30px/40px cochin;
      }
    
      p{
        font: normal normal normal 18px/30px Helvetica;
      }
    
      .item2-btn{
        width: 200px;
        height: 55px;
        border-radius: 8px; 
        font: normal normal normal 20px/30px Helvetica;
        margin-top: 5px;
      }
}


@media screen and (max-width: 1200px) {
    .grid-container-1 {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 160px 160px;
        width: 100%;
        height: 450px;
      }
      .grid-item a button{
        border-radius: 15px;
        font: normal normal normal 22px/48px Helvetica;
    }
  
    .grid-item a button i{
        font-size: 35px;
    }

    .grid-container-2{
        display: grid;
        grid-template-columns: 460px 460px;
      grid-template-rows: 250px 250px 250px;
      padding: 10px 100px 50px 100px;
      grid-gap:50px 80px;
      justify-content: center;
    }

    .grid-container-2 div{
        border-radius: 13px;
    }

    h3{
        font: normal normal bold 28px/10px cochin;
      }
    
      p{
        font: normal normal normal 18px/25px Helvetica;
      }
    
      .item2-btn{
        width: 180px;
        height: 50px;
        border-radius: 10px; 
        font: normal normal normal 15px Helvetica;
      }
}

@media screen and (max-width: 1050px) {
    .grid-container-1 {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-template-rows: 140px 140px 140px;
        width: 100%;
        height: 600px;  
      }
      
      .grid-item a button{
        border-radius: 12px;
        font: normal normal normal 20px/48px Helvetica;
    }

      .grid-item a button i{
        font-size: 30px;
    }

    .grid-container-2{
        display: grid;
        grid-template-columns: 420px 420px;
      grid-template-rows: 200px 200px 200px;
      padding: 10px 100px 50px 100px;
      grid-gap:50px 80px;
      justify-content: center;
    }

    .grid-container-2 div{
        border-radius: 10px;
    }

    h3{
        font: normal normal bold 23px/10px cochin;
      }
    
      p{
        font: normal normal normal 15px/25px Helvetica;
      }
    
      .item2-btn{
        width: 150px;
        height: 40px;
        border-radius: 6px; 
        font: normal normal normal 12px Helvetica;
      }
}

@media screen and (max-width:950px){
    .grid-container-2{
        display: grid;
        grid-template-columns: 750px;
      grid-template-rows: 350px 250px 350px 250px 350px 250px;
      padding: 10px 100px 100px 100px;
      grid-gap:50px 80px;
      justify-content: center;
    }

    .grid-container-2 div{
        border-radius: 20px;
    }

    h3{
        font: normal normal bold 30px/20px cochin;
      }
    
      p{
        font: normal normal normal 20px/30px Helvetica;
      }
    
      .item2-btn{
        width: 210px;
        height: 50px;
        border-radius: 10px; 
        font: normal normal normal 18px Helvetica;
      }

      h2{
        font: normal normal bold 50px/50px Cochin;
        color: #ffffff;
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 800px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .homeMid {
        width: 400px;
        height: 200px;
        margin-left: -200px;
        margin-top: -200px
    }
    .homeMid h1 {
        font-size: 60px;
    }
    .homeMid h3 {
        font-size: 20px;
        margin-bottom: 45px;
    }
    .leeruitkomstBtn,
    .overMijBtn {
        position: relative;
        width: 165px;
        height: 45px;
        padding: 5px 20px 5px 20px;
        border-radius: 7.5px;
        font: normal normal normal 13px/24px Helvetica;
        text-align: center;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 400px;
        grid-template-rows: 600px 300px;
        padding: 50px 50px 0px 100px;
        align-content: center;
    }
    .overMij h2 {
        margin-top: 50px;
        font: normal normal bold 50px/70px Cochin;
        color: #FFFFFF;
    }

    .grid-container-1 {
        display: grid;
        grid-template-columns:80%;
        grid-template-rows: 150px 150px 150px 150px 150px 150px;
        height:1050px;
        padding: 10px;
    
      }
      .grid-item a button{
        border-radius: 15px;
        font: normal normal normal 25px/48px Helvetica;
    }

      .grid-item a button i{
        font-size: 35px;
    }

    .grid-container-2{
        display: grid;
        grid-template-columns: 500px;
      grid-template-rows: 250px 200px 250px 200px 250px 200px;
      padding: 10px 50px 100px 50px;
      grid-gap:50px 80px;
      justify-content: center;
    }

    .grid-container-2 div{
        border-radius: 12px;
    }

    h3{
        font: normal normal bold 25px/20px cochin;
      }
    
      p{
        font: normal normal normal 18px/30px Helvetica;
      }
    
      .item2-btn{
        width: 150px;
        height: 40px;
        border-radius: 7px; 
        font: normal normal normal 15px Helvetica;
      }

      h2{
        font: normal normal bold 40px/50px Cochin;
        color: #ffffff;
        text-align: center;
    }
}